body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}

.container{
    width:600px;
    margin:50px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
}

input{
    width:60%;
    padding:10px;
}

button{
    padding:10px;
    margin-left:5px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

li{
    margin:10px 0;
}

.completed{
    text-decoration:line-through;
    color:green;
    font-weight:bold;
}
